<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General</title>
        <title lang="de-DE">Einstellungen</title>

        <component name="sw-entity-multi-id-select">
            <name>groupIds</name>
            <entity>customer_group</entity>
            <label>Enable sub-cccounts for this customer groups.</label>
            <label lang="de-DE">Aktiviere Unter-Accounts für diese Kundengruppen.</label>
        </component>

        <input-field type="single-select">
            <name>customerNumberRule</name>
            <label>Rules for Sub-Account Customer Numbers</label>
            <label lang="de-DE">Regeln für die Kundennummern der Unter-Accounts</label>
            <options>
                <option>
                    <id>auto</id>
                    <name>Automatic allocation</name>
                    <name lang="de-DE">Automatische Vergabe</name>
                </option>
                <option>
                    <id>manual</id>
                    <name>Manual</name>
                    <name lang="de-DE">Manuell</name>
                </option>
                <option>
                    <id>manualUnique</id>
                    <name>Manual with Unique-Check</name>
                    <name lang="de-DE">Manuell und einmalig</name>
                </option>
                <option>
                    <id>identical</id>
                    <name>Identical customer number</name>
                    <name lang="de-DE">Identische Kundennummer</name>
                </option>
            </options>
            <defaultValue>manual</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>inheritGroup</name>
            <label>Always Inherit Main-Account's Customer Group</label>
            <label lang="de-DE">Immer Kundengruppe des Hauptaccounts vererben</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Notifications</title>
        <title lang="de-DE">Benachrichtigungen</title>

        <input-field type="bool">
            <name>enableNotificationSettings</name>
            <label>Enable notification settings</label>
            <label lang="de-DE">Benachrichtigungseinstellungen aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
