<p>
    Hello {{ merchant.company }},<br>
    this is a copy of the customer order.
</p>

<p>
    Desired pick up date: {{ order.customFields.moorl_mf_desired_date }}<br>
    Desired pick up time: {{ order.customFields.moorl_mf_desired_time }}<br>
    Comment:<br>{{ order.customFields.moorl_mf_comment|nl2br }}
</p>

{#
    Copy the order confirmation template here.
    Be aware - this template will be deleted by uninstalling the plugin.
#}