<p>
    Hallo {{ merchant.company }},<br>
    dies ist eine Kopie einer Kundenbestellung.
</p>

<p>
    Wunsch Abholdatum: {{ order.customFields.moorl_mf_desired_date }}<br>
    Wunsch Abholzeit: {{ order.customFields.moorl_mf_desired_time }}<br>
    Kommentar:<br>{{ order.customFields.moorl_mf_comment|nl2br }}
</p>

{#
    Copy the order confirmation template here.
    Be aware - this template will be deleted by uninstalling the plugin.
#}