{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    <div class="account-customer_accounts">
        {% block page_account_customer_accounts_welcome %}
            <div class="account-welcome">
                {% block page_account_customer_accounts_welcome_headline %}
                    <h1>
                        {{ "moorl-customer-accounts.customerAccountsWelcome"|trans|sw_sanitize }}
                    </h1>
                {% endblock %}
                {% block page_account_customer_accounts_welcome_intro %}
                    <p>
                        {{ "moorl-customer-accounts.customerAccountsText"|trans|sw_sanitize }}
                    </p>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_account_customer_accounts_main %}
            {% block page_account_customer_accounts_create %}
                <button type="button"
                        class="btn btn-primary btn-block"
                        data-moorl-foundation-modal="{{ path('moorl-customer-accounts.account.customer-accounts.edit') }}">
                    {{ "moorl-customer-accounts.createCustomer"|trans|sw_sanitize }}
                </button>
            {% endblock %}

            {% block page_account_customer_accounts_list %}

            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
